body{
    text-align: center;
    background-repeat: no-repeat;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: linear-gradient(whitesmoke, rgb(158, 158, 158));
    height: 100vw;
    width: 100vw;
}

.picture {
    border: 1px solid black;
}

button {
    background-color: #333333;;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    border: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
